<div class="footerImg"></div>
<footer>
    <section>
        <div class="container" >
            <div class="flexCol" >
                <a href="">Insta</a>
                <a href="">Fb</a>
                <a href="">adresse.mail@mail.com</a>
                <a href="">+33 0 00 00 00 00</a>
            </div>
            <address>
                <span>France</span>
                <span>123 Rue des Kiwis</span>
                <span>42170 Paris</span>
            </address>
        </div>
    </section>
    <span>&copy;WilLoch</span>
</footer>
