@import "/src/scss/variables";

.footerImg{
    -webkit-box-shadow: 0px -2px 11px 4px rgba(0,0,0,0.11); 
box-shadow: 0px -2px 11px 4px rgba(0,0,0,0.11);
    height: 75px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.lexpress.fr/medias_10033/w_640%2Ch_360%2Cc_fill%2Cg_north/v1414316356/le-pilote-espagnol-marc-marquez-au-guidon-de-sa-honda-passe-la-ligne-d-arrivee-du-grand-prix-de-malaisie-en-motogp-le-26-octobre-2014-sur-le-circuit-de-sepang_5137213.jpg");
    background-size: cover;
    background-position: 60%;
}
footer{
    padding: .5rem;
    color: white;
    background-color: $colorBg;

    
    .flexCol{
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        align-items: center;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid white;
        a{color: white;text-decoration: none;
        transition: color .3s;}
        a:hover{
            color: lightgray;
            transition: color .3s;
        }
    }
    address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid white;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        span{
            text-align: left;
        }
    }


    span{
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}


@media screen and (min-width:480px) {
    .container{
        display: flex;
        flex-direction: row;
    }
}